# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# pycharm
.idea

# Remove symbolic links to bioptim in examples and tests folder
examples/*/biorbd_optim
examples/biorbd_optim

# Remove other development artifacts
examples/sandbox
*/examples/sandbox
*.npy
*.bo
*.bob
*.ogv

# Remove ACADOS and ipopt compilation folder
c_generated_code
*.c
*.o
*.json

# Remove graphviz files
*.gv
*.gv.pdf

# Bioptim files
sandbox/
*.pkl
*.mtx
*.casadi
*.pt
*.png
_l4c_generated/

# Mac dev
*.DS_store

# Ignore all npy files in tests folder except those in tests/shard6
/tests/*.npy
!/tests/shard6/v_bounds_max.npy
!/tests/shard6/v_bounds_min.npy
!/tests/shard6/v_init.npy
!/tests/shard6/v_bounds_max_collocation.npy
!/tests/shard6/v_bounds_min_collocation.npy
!/tests/shard6/v_init_collocation.npy
!/tests/shard6/v_bounds_max_collocation_starting_point.npy
!/tests/shard6/v_bounds_min_collocation_starting_point.npy
!/tests/shard6/v_init_collocation_starting_point.npy
!/tests/shard6/v_bounds_max_parameters.npy
!/tests/shard6/v_bounds_min_parameters.npy
!/tests/shard6/v_init_parameters.npy
!/tests/shard6/v_bounds_max_multiple_phases.npy
!/tests/shard6/v_bounds_min_multiple_phases.npy
!/tests/shard6/v_init_multiple_phases.npy
!/tests/shard6/v_bounds_max_algebraic_states.npy
!/tests/shard6/v_bounds_min_algebraic_states.npy
!/tests/shard6/v_init_algebraic_states.npy
!/tests/shard6/sol_controls.npy
!/tests/shard6/sol_states.npy
!/tests/shard6/sol_states_dot.npy
