[submodule "external/acados"]
	path = external/acados
	url = https://github.com/acados/acados.git
[submodule "external/biomechanics_models"]
	path = external/biomechanics_models
	url = https://github.com/pyomeca/biomechanics-models.git
