include __init__.py
include LICENSE
include README.md
recursive-include docs *.md
recursive-include examples *.py
recursive-include examples *.bioMod
recursive-include examples *.vtp
recursive-include examples *.STL
recursive-exclude examples/sandbox *.*
recursive-exclude examples c_generated_code
